{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block page_title %}
    {% translate "Bounty Board" %}
{% endblock %}
{% block content %}
    <div class="container-fluid aa-bounty-board">
        <br />
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#market-manager-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'bountyboard:index' %}">{% trans "Bounty Board" %}</a>
            </div>
            <div class="collapse navbar-collapse"
                id="market-manager-navbar-collapse-1"></div>
        </nav>
        {% block details %}
        {% endblock details %}
    </div>
{% endblock content %}
