{% extends "bountyboard/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load bootstrap %}
{% block page_title %}
    {% translate "Bounty Board - Request" %}
{% endblock page_title %}
{% block details %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{% translate "Request Bounty Payout" %}</div>
        </div>
        <div class="panel-body">
            {{ bountyprogram.name }}
            <form class="form" role="form" action="" method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <button type="submit" class="btn btn-default">{% translate "Submit" %}</button>
            </form>
        </div>
    </div>
{% endblock details %}
{% block extra_javascript %}
{% endblock extra_javascript %}
{% block extra_css %}
{% endblock extra_css %}
{% block extra_script %}
{% endblock extra_script %}
