{% extends "bountyboard/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load evelinks %}
{% block page_title %}
    {% translate "Bounty Board" %}
{% endblock page_title %}
{% block details %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">{{ bountyprogram.name }}</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10">
                    {% for ship in bountyprogram.all_ships.all %}
                        <img src="{{ ship.icon_url }}" alt="{{ ship.name }}" {% trans "width=64 height=64" %}/>
                    {% endfor %}
                </div>
                <div class="col-lg-2">
                    {% for region in bountyprogram.regions.all %}
                        <a class="label label-default" href="{{ region }}">{{ region.name }}</a>
                    {% endfor %}
                    {% for constellation in bountyprogram.constellations.all %}
                        <a class="label label-default" href="{{ constellation }}">{{ constellation.name }}</a>
                    {% endfor %}
                    {% for solar_system in bountyprogram.solar_systems.all %}
                        <a class="label label-default" href="{{ solar_system }}">{{ solar_system.name }}</a>
                    {% endfor %}
                    {% for alliance in bountyprogram.alliances.all %}
                        <a class="label label-default" href="{{ alliance|zkillboard_alliance_url }}">{{ alliance.alliance_name }} [{{ alliance.alliance_ticker }}]</a>
                    {% endfor %}
                    {% for corporation in bountyprogram.corporations.all %}
                        <a class="label label-default"
                        href="{{ corporation|dotlan_corporation_url }}">{{ corporation.corporation_name }} [{{ corporation.corporation_ticker }}]</a>
                    {% endfor %}
                </div>
            </div>
                <a class="btn btn-default"
                href="{% url 'bountyboard:bounty_request' bountyprogram.id %}"
                role="button">{% trans "Request Bounty" %}</a>
            <table class="table">
            {% for bounty_request in bountyprogram.bountyrequest_set.all %}
                <tr>
                    <td>{{ bounty_request.killmail.killmail_time|naturaltime }}<br/>{{ bounty_request.payout|intcomma }}</td>
                    <td><img src="{{ bounty_request.killmail.ship.icon_url }}" alt="{{ bounty_request.killmail.ship.name }}" {% trans "width=64 height=64" %}/></td>
                    <td>{{ bounty_request.killmail.solar_system.name }}<br/>{{ bounty_request.killmail.solar_system.eve_constellation.eve_region.name }}</td>
                    <td>{{ bounty_request.killmail.ship.name }}</td>
                    <td>{{ bounty_request.user.profile.main_character }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock details %}
{% block extra_javascript %}
{% endblock extra_javascript %}
{% block extra_css %}
{% endblock extra_css %}
{% block extra_script %}
{% endblock extra_script %}
