{% extends "bountyboard/base.html" %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% block page_title %}
    {% translate "Bounty Board" %}
{% endblock page_title %}
{% block details %}
    <div class="panel panel-success col-lg-12 container-fluid">
        <div class="panel-heading">
            <span class="panel-title">{% translate "Active Bounty Programs" %}</span>
        </div>
        <div class="panel-body">
            {% for bountyprogram in bountyprograms_active %}
                <div class="panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel-heading">
                        <div class="panel-title">{{ bountyprogram.name }}</div>
                    </div>
                    <div class="panel-body">
                        {% trans "Ships" %}:
                        {% for type in bountyprogram.types.all %}<span class="label label-default">{{ type.name }}</span>{% endfor %}
                        {% for group in bountyprogram.groups.all %}<span class="label label-default">{{ group.name }}</span>{% endfor %}
                        <br/>
                        {% trans "Locations" %}:
                        {% for region in bountyprogram.regions.all %}<span class="label label-default">{{ region.name }}</span>{% endfor %}
                        {% for constellation in bountyprogram.constellations.all %}
                            <span class="label label-default">{{ constellation.name }}</span>
                        {% endfor %}
                        {% for system in bountyprogram.solar_systems.all %}
                            <span class="label label-default">{{ system.name }}</span>
                        {% endfor %}
                        <br/>
                        {% trans "Targets" %}:
                        {% for corporation in bountyprogram.corporations.all %}
                            <span class="label label-default">{{ corporation.corporation_name }}</span>
                        {% endfor %}
                        {% for alliance in bountyprogram.alliances.all %}
                            <span class="label label-default">{{ alliance.alliance_name }}</span>
                        {% endfor %}
                        {{ bountyprogram.sum_payouts|intcomma }} {% trans "Kills" %}:{{ bountyprogram.killmails.count }}
                        <br/>
                        <span class="btn btn-default"><a href="{% url 'bountyboard:bountyprogram' bountyprogram.id %}" role="button">{% trans "Open" %}</a></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-info col-lg-12 container-fluid">
        <div class="panel-heading">
            <span class="panel-title">{% translate "Expired Bounty Programs" %}</span>
        </div>
        <div class="panel-body">
            {% for bountyprogram in bountyprograms_expired %}
                <div class="panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel-heading">
                        <div class="panel-title">{{ bountyprogram.name }}</div>
                    </div>
                    <div class="panel-body">
                        {% trans "Ships" %}:
                        {% for type in bountyprogram.types.all %}<span class="label label-default">{{ type.name }}</span>{% endfor %}
                        {% for group in bountyprogram.groups.all %}<span class="label label-default">{{ group.name }}</span>{% endfor %}
                        <br/>
                        {% trans "Locations" %}:
                        {% for region in bountyprogram.regions.all %}<span class="label label-default">{{ region.name }}</span>{% endfor %}
                        {% for constellation in bountyprogram.constellations.all %}
                            <span class="label label-default">{{ constellation.name }}</span>
                        {% endfor %}
                        {% for system in bountyprogram.solar_systems.all %}
                            <span class="label label-default">{{ system.name }}</span>
                        {% endfor %}
                        <br/>
                        {% trans "Targets" %}:
                        {% for corporation in bountyprogram.corporations.all %}
                            <span class="label label-default">{{ corporation.corporation_name }}</span>
                        {% endfor %}
                        {% for alliance in bountyprogram.alliances.all %}
                            <span class="label label-default">{{ alliance.alliance_name }}</span>
                        {% endfor %}
                        <span class="btn btn-default"><a href="{% url 'bountyboard:bountyprogram' bountyprogram.id %}" role="button">{% trans "Open" %}</a></span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock details %}
{% block extra_javascript %}
{% endblock extra_javascript %}
{% block extra_css %}
{% endblock extra_css %}
{% block extra_script %}
{% endblock extra_script %}
